<!-- navbar.html -->

{% load static %}

<header class="navbar pcoded-header navbar-expand-lg navbar-light">
  <div class="m-header">
    <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
    <a href="#" class="b-brand">
      <div class="b-bg">
        <i class="feather icon-trending-up"></i>
      </div>
      <span class="b-title">Home</span>
    </a>
  </div>
  <a class="mobile-menu" id="mobile-header" href="javascript:">
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i
        class="feather icon-maximize"></i></a></li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
      <li>
        <label>
          <i class="icon feather icon-sun" id="theme-indicator"></i>
          <input type="checkbox" id="theme-switch" class="d-none">
        </label>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown">
          <i class="icon feather icon-bell"></i>
          {% if unread_notifications_count > 0 %}
          <span class="badge badge-danger">{{ unread_notifications_count }}</span>
          {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right notification">
          <div class="noti-head">
            <h6 class="d-inline-block m-b-0">Notifications</h6>
            <div class="float-right">
              <a href="{% url 'mark_all_as_read' %}" class="m-r-10">mark all as read</a>
              <a href="{% url 'clear_all_notifications' %}">clear all</a>
            </div>
          </div>
          <ul class="noti-body">
            {% for notification in request.user.received_notifications.all|slice:":5" %}
            <li class="notification">
              <div class="media">
                <div class="media-body">
                  <p><strong>task:{{ notification.todo.title }}</strong> <span class="n-time text-muted"><i
                        class="icon feather icon-clock m-r-10"></i>{{ notification.timestamp }}</span></p>
                  <p>{{ notification.display_message }}</p>
                  {% if not notification.is_read %}
                  <form action="{% url 'mark_notification_as_read' notification.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-link">Mark as read</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="noti-footer">
            <a href="{% url 'notifications' %}">show all</a>
          </div>
        </div>
      </li>

      <li>
        <div class="dropdown drp-user">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa-solid fa-user-tie"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-notification">
            <div class="pro-head">
              {% if request.user.is_authenticated %}
                  <b style="text-transform: capitalize;">{{ request.user.get_full_name }}</b>
                  {% if request.user.role == "1" %}
                  <div>
                      <span style="font-size: 12px;">Admin</span>
                    </div>

                  {% elif request.user.role == "2" %}
                  <div><span style="font-size: 12px;">Teamlead</span></div>
                  {% elif request.user.role == "3" %}
                      <div><span style="font-size: 12px;">Developer</span></div>
                  {% endif %}
             
                  <a href="#" class="dud-logout" title="Logout">
                      <a href="{% url 'logout' %}" class="dud-logout" title="Logout">
                          <i class="feather icon-log-out"></i>
                      </a>
                  </a>
              {% else %}
                  <a href="{% url 'login' %}" class="dud-logout" title="Login">
                      <i class="feather icon-log-in"></i>
                  </a>
              {% endif %}
          </div>          

            <ul class="pro-body">
              <li>
                {% if user.is_authenticated and user.role == "1" %}
                <a href="{% url 'system_settings' %}" class="dropdown-item"><i class="feather icon-settings"></i>
                  Settings</a></li>
                {% endif %} 
                
              <li>
                <a href="{% url 'profile' %}" class="dropdown-item">
                <i class="feather icon-user"></i>Profile
              </a>              
              </li>                                                          
              <li>
                <a href="{% url 'change_password' %}" class="dropdown-item">
                  <i class="feather icon-edit"></i>Change Password
                </a>
              </li>            
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>
