{% extends "layouts/base_auth.html" %}
{% load widget_tweaks %}

{% block content %}
  {% include "includes/sidebar.html" %}
  {% include "includes/navigation.html" %}

  <section class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Change Password</h5>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <form method="post"  action="{% url 'change_password' %}" novalidate>
                            {% csrf_token %}

                            <div class="form-group">
                              <label for="id_old_password">Old Password</label>
                              {{ form.old_password|add_class:"form-control" }}
                              {% for error in form.old_password.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                              {% endfor %}
                            </div>

                            <div class="form-group">
                              <label for="id_new_password1">New Password</label>
                              {{ form.new_password1|add_class:"form-control" }}
                              {% for error in form.new_password1.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                              {% endfor %}
                            </div>

                            <div class="form-group">
                              <label for="id_new_password2">Confirm New Password</label>
                              {{ form.new_password2|add_class:"form-control" }}
                              {% for error in form.new_password2.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                              {% endfor %}
                            </div>

                            <button type="submit" class="btn btn-primary">Change Password</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  {% include "includes/messages.html" %}
  {% include "includes/footer.html" %} 
  
{% endblock content %}
