{% extends "layouts/base_auth.html" %}
{% load static %}
{% block content %}
{% include "includes/sidebar.html" %}
{% include "includes/navigation.html" %}

<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-8 mb-2">
                <div class="card">
                  <div class="card-header">
                    <h5>Settings</h5>
                  </div>
                  <div class="card-block">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-sm-6 mb-4">
                            <div class="form-group">
                              <label for="fn">Company Name</label>
                              <input type="text" class="form-control" id="fn" name="company_name" placeholder="Enter Company Name" value="{{ system_settings.company_name }}">
                            </div>
                          </div>
                          <div class="col-sm-6 mb-4">
                            <div class="form-group">
                              <label for="ln">Mobile Number</label>
                              <input type="number" class="form-control" id="ln" name="mobile" placeholder="Enter Mobile Number" value="{{ system_settings.mobile }}">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{ system_settings.email }}">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="location">Location</label>
                              <input type="location" class="form-control" id="location" name="location" placeholder="Enter location" value="{{ system_settings.location }}">
                            </div>
                          </div>

                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="company_info">Company Info</label>
                              <input type="company_info" class="form-control" id="company_info" name="company_info" placeholder="Enter Company Info" value="{{ system_settings.company_info }}">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="facebook">Facebook Link</label>
                              <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Enter Facebook Link" value="{{ system_settings.facebook }}">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="instagram">Instagram</label>
                              <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Enter Instagram" value="{{ system_settings.instagram }}">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="linkdein">LinkedIn</label>
                              <input type="text" class="form-control" id="linkdein" name="linkdein" placeholder="Enter LinkedIn" value="{{ system_settings.linkdein }}">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="company_link">Company Link</label>
                              <input type="text" class="form-control" id="company_link" name="company_link" placeholder="Enter Company Link" value="{{ system_settings.company_link }}">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                              <label for="logo">Company Logo (PNG only)</label>
                              <input type="file" class="form-control" name="logo" accept="image/png">
                            </div>                          
                          </div>
                          <div class="col-sm-12 mb-4">
                            <div class="form-group">
                                <label for="small_logo">Small Logo (PNG only)</label>
                                <input type="file" class="form-control" name="small_logo" accept="image/png">
                            </div>                          
                          </div>
                          <div class="col-sm-12 mb-4">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                         
                         
                            <!-- <button type="submit" class="btn btn-primary" name="remove_logo">Remove Company Logo</button> -->
                       
                         
                            <!-- <button type="submit" class="btn btn-primary" name="remove_small_logo">Remove Small Logo</button> -->
                          </div>
                          
                        </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block">
                    <div class="d-flex align-items-center justify-content-center flex-column">
                      <div class="w-100 p-5">
                        {% if company_logo_url %}
                          <img src="{{ company_logo_url }}" alt="Company Logo" height="50px" width="180px">
                          <br>
                          <br>
                        {% else %}
                        <img src="{% static 'default_logo.png' %}" alt="Company Logo" class="img-fluid rounded-circle"> <!-- Default logo if none is provided -->
                        {% endif %}
                        <a>Company Logo</a>
                      </div>               
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="remove_logo">Remove Company Logo</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                    <div class="d-flex align-items-center justify-content-center flex-column">
                      <div class="w-100 p-5">
                        {% if small_logo_url %}
                            <img src="{{ small_logo_url }}" alt="Small Logo" height="50px" width="180px">
                            <br>
                            <br>
                        {% else %}
                            <img src="{% static 'default_small_logo.png' %}" alt="Small Logo" class="img-fluid rounded-circle"> <!-- Default small logo if none is provided -->
                        {% endif %}
                        <a>Small Logo</a>
                      </div>    
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="remove_small_logo">Remove Small Logo</button>

                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "includes/footer.html" %} 
{% endblock content %}
