{% extends "layouts/base_auth.html" %}
{% block content %}
{% include "includes/sidebar.html" %}
{% include "includes/navigation.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<style>
  #id_user, #id_team, #datepicker {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    width: 200px;
  }

  .todoTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
  }

  .todoTable thead th {
    background-color: #343a40;
    color: white;
    padding: 12px;
    cursor: pointer;
    position: relative;
  }

  .todoTable tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .todoTable tbody tr:last-of-type {
    border-bottom: 2px solid #343a40;
  }

  .dataTables_wrapper .dataTables_paginate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 2px;
    border: 1px solid #343a40;
    border-radius: 4px;
    background-color: white;
    color: #343a40;
    cursor: pointer;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #343a40;
    color: white;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #343a40;
    color: white;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
  .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    font-weight: bold;
    margin: 0 5px;
  }

  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
  }

  .dataTables_wrapper .dataTables_filter label {
    font-weight: bold;
  }

  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    padding: 6px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }

  body.dark .flatpickr-calendar {
    background-color: #343a40;
    color: white;
  }

  body.dark .flatpickr-calendar .flatpickr-day {
    color: white;
  }

  body.dark .flatpickr-calendar .flatpickr-day:hover, 
  body.dark .flatpickr-calendar .flatpickr-day:focus {
    background-color: #495057;
  }

  body.dark .flatpickr-calendar .flatpickr-day.today {
    background-color: #495057;
  }

  body.dark .flatpickr-calendar .flatpickr-day.selected {
    background-color: #007bff;
  }

  body.dark .flatpickr-calendar .flatpickr-months, 
  .flatpickr-calendar .flatpickr-weekdays {
    background-color: #343a40;
  }

  body.dark .flatpickr-calendar .flatpickr-time input {
    background-color: #343a40;
    color: white;
  }
</style>
<section class="pcoded-main-container" style="margin-bottom:10px;">
  {% if user.is_authenticated and user.role == "1" %}
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h3 class="m-0"><b>Filters</b></h3>
              </div>
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <form method="get">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="user">User:</label>
                            {{ filter.form.user }}
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="date_created">Date Created:</label>
                            {{ filter.form.date_created }}
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="team">Team:</label>
                            {{ filter.form.team }}
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group d-flex justify-content-end">
                            <button id="applyBtn" class="btn btn-primary mr-2">Apply</button>
                            <a href="{% url 'todolist' %}" type="button" id="clearBtn" class="btn btn-secondary">Clear Filters</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if user.is_authenticated and user.role != "1" %}
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h3 class="m-0"><b>Filters</b></h3>
              </div>
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <form method="get">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="date_created">Date Created:</label>
                            {{ filter.form.date_created }}
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group d-flex justify-content-end">
                            <button id="applyBtn" class="btn btn-primary mr-2">Apply</button>
                            <a href="{% url 'todolist' %}" type="button" id="clearBtn" class="btn btn-secondary">Clear Filters</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <h1>Todo List</h1>&nbsp;
        <div style="overflow-x: auto;">
          <table class="todoTable table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th> 
                {% if user.is_authenticated and user.role != "3" %}
                  <th>Name</th>
                {% endif %}
                <th>Title</th>
                <th>Description</th>
                <th>Team</th>
                <th>Status</th>
                <th>Task Date</th>
                <th>Time Taken</th>
                <th>Detail</th>
                <th>Comments</th>
                <th>Comment by</th>
                <th>Start time</th>
              </tr>
            </thead>
            <tbody>
              {% for todo in todos %}
              <tr>
                <td>{{ forloop.counter }}</td>
                {% if user.is_authenticated and user.role != "3" %}
                  <td>{{ todo.user }}</td>
                {% endif %}
                <td>{{ todo.title }}</td>
                <td>
                  {{ todo.description|slice:":50" }}
                  {% if todo.description|length > 50 %}...
                  {% endif %}
                </td>        
                <td>{{ todo.team }}</td>
                <td>
                  {% if todo.status == 0 %}
                    <span class="badge badge-secondary">Pending</span>
                  {% elif todo.status == 1 %}
                    <span class="badge badge-success">Completed</span>
                  {% endif %}
                </td>
                <td>{{ todo.date_created|date:"d-M-Y" }}</td>
                <td>{{ todo.time_taken }}</td>
                <td>
                  <a href="{% url 'task_detail' user_id=todo.user.id task_id=todo.id %}"><i class="fa-solid fa-eye text-c-blue"></i></a>
                  &nbsp;
                  {% if request.user.is_superuser %}
                    <a href="{% url 'updatecomment' todo.id %}">
                      <i class="fa-solid fa-comments text-c-blue"></i>
                    </a>
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'note_history' todo.id %}">
                    {{ todo.note|slice:":50" }}
                    {% if todo.note|length > 50 %}...{% endif %}
                  </a>
                </td>
                <td>{{ todo.updated_by }}</td>
                <td>{{ todo.start_time }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "includes/footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  $(document).ready(function() {
    $(".todoTable").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "order": [
        [5, "desc"]
      ],
    });

    flatpickr(".datepicker", {
      dateFormat: "Y-m-d",
    });
  });
</script>
{% endblock content %}
