{% extends "layouts/base_auth.html" %}
{% block content %}
{% include "includes/sidebar.html" %}
{% include "includes/navigation.html" %}

<br /><br />

<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ Hover-table ] start -->
              <div class="col-xl-12">
                <div class="card" style="border-radius: 60px">
                  <div class="card-header" style="border-radius: 60px">
                    <h5>Table</h5>
                    <i class="fa-solid fa-table"></i>
                  </div>
                  <div
                    class="card-block table-border-style"
                    style="border-radius: 60px"
                  >
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Team</th>
                            <th>Role</th>
                            <th>Active</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in users %}
                          <tr>
                            <th scope="row">{{i.id}}</th>
                            <td>{{i.user_name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.mobile_number}}</td>
                            <td>{{i.team}}</td>
                            <td>{{i.get_role_display}}</td>
                            <td>
                              <form method="post" action="{% url 'toggle_active_status' i.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">
                                  {% if i.is_active %}
                                    Active
                                  {% else %}
                                    Deactivate
                                  {% endif %}
                                </button>
                              </form>
                            </td>
                            <td>
                              <a href="{% url 'update' i.id %}">
                                <i class="fa-solid fa-user-pen text-c-green"></i>
                              </a>
                              &nbsp;&nbsp;
                              <a href="{% url 'delete' i.id %}">
                                <i class="fa-solid fa-user-xmark text-c-green"></i>
                              </a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- [ Hover-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
            <!-- </div>
                </div>
            </div>
        </div>
        
    </div>
</section> -->

            <label class="d-none">
              <i class="icon feather icon-moon" id="theme-indicator"></i>
              <input type="checkbox" id="theme-switch" class="d-none" />
            </label>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
<label class="d-none">
  <i class="icon feather icon-moon" id="theme-indicator"></i>
  <input type="checkbox" id="theme-switch" class="d-none" />
</label>

{% endblock content %}
